{% extends 'app/base.html' %}

{% block title %}Listado de productos{% endblock %}

{% block content %}
    <h1 class="display-4">Lista de productos</h1>
    <a href="{% url 'item_create' %}" class="btn btn-primary mt-2">Añadir Producto</a>
    <form class="d-flex mt-3 mb-3" role="search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Buscar producto..." aria-label="Search" name="search">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
    <div class="row">
        {% if items %}
        {% for item in items %}
        <div class="col-md-3 mb-4">
            <div class="card mb-4 mt-4 shadow-sm">
                <div class="card-header">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top" width="200" height="200">
                    <h4 class="my-0 font-weight-normal text-center"><a href="{% url 'item_detail' item.pk %}" style="text-decoration: none;" class="text-dark">{{ item.name }}</a></h4>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            {% if query %}
                <p>No hay resultados para "{{ query }}"</p>
            {% else %}
                <p>No hay productos en la lista.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}